button {
    display: flex;
    border: 0px;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLink {
    .tooltip {
        background-color: var(--alternative-color);
        color: var(--image-color);
        text-shadow: 1px 1px 1px var(--second-color);
        box-shadow: 2px 2px 2px var(--image-color);
    }
    .filterLight {
        filter: invert(30%) sepia(84%) saturate(1270%) hue-rotate(242deg) brightness(84%)
            contrast(78%);
        border-radius: 0px;
    }

    .filterDark {
        filter: invert(75%) sepia(58%) saturate(4161%) hue-rotate(214deg) brightness(102%)
            contrast(94%);
        border-radius: 0px;
    }
}
